* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    padding-top: 1.5rem;

}

.nav-bar {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
}

.items {
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    gap: 8px;
}

.items li {
    list-style-type: none;
    font-family: Space Grotesk;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;

}

.nav-button {

    text-align: center;
}

.button {
    width: 231px;
    height: 68px;
    border-radius: 14px;
    border: 1px solid #191A23;
    padding:
        20px, 35px, 20px, 35px;
    background-color: transparent;
}

.hero-text {
    display: flex;
    flex-direction: column;
    gap: 35px;

}

.hero-text h1 {
    font-family: Space Grotesk;
    font-size: 60px;
    font-weight: 500;
    line-height: 76.56px;
}

.hero-text p {
    font-family: Space Grotesk;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;

}

.button-blk {
    width: 231px;
    height: 68px;
    border-radius: 14px;
    border: 1px solid #191A23;
    padding:
        20px, 35px, 20px, 35px;
    background-color: black;
    color: white;
}

/* .hero-img{
    padding: 2rem;
} */
.hero-img img {
    width: 600.46px;
    height: 515px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;

}

.com-logo {
    padding: 1rem;
    justify-content: space-evenly;
    height: 48px;
}

.text-logo img {
    width: 123.56px;
    height: 19.49px;
    Top: 13.11px;
    gap: 0px;
}

.services-row {
    display: flex;
    padding: 1rem;

}

.heading h2 {
    font-family: space grotesk;
    font-size: 40px;
    font-weight: 500;
    line-height: 51.04px;
    color: black;
    text-align: center;
    background-color: #B9FF66;
    border-radius: 8px;

}

.text p {
    font-family: Space Grotesk;
    font-size: 18px;
    font-weight: 400;
    line-height: 22.97px;


}

.card-row {
    height: 310px;
    top: 1102px;
    gap: 40px;
    opacity: 0px;
    border: 1px solid red;

}

.card-text {
    display: flex;
    flex-direction: column;
    gap: 93px;
}

.card1 {
    display: flex;
    text-align: center;
    height: 310px;
    border-radius: 45px;
    border: 1px solid #191A23;
    padding: 50px 0px 0px 0px;
    border: 1px 0px 0px 0px;
    justify-content: space-between;
    opacity: 0px;
    background: #F3F3F3;
    box-shadow: 0px 5px 0px 0px #191A23;
}


.card1 h3 {
    width: 207px;
    height: 38px;
    border-radius: 7px 0px 0px 0px;
    opacity: 0px;
    gap: 0px;
    opacity: 0px;
    font-family: Space Grotesk;
    font-size: 30px;
    font-weight: 500;
    line-height: 38.28px;
    color: black;
    background-color: #B9FF66;

}

.card-img img {
    width: 210px;
    height: 166.05px;
    top: 2px;
    gap: 0px;
    opacity: 0px;

}